<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" 
         providerName="System.Data.SQLite" 
         connectionString="Data Source=|DataDirectory|test.s3b;Version=3;"/>
    <add name="ReadOnly" 
         providerName="System.Data.SQLite" 
         connectionString="Data Source=|DataDirectory|test.s3b;Version=3;Read Only=True;"/>
  </connectionStrings>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
         type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.81.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  
</configuration>